body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

div.content {
    width: calc(100vw - 300px);
    min-width: 300px;
    margin-left: 150px;
}

@media (max-width: 600px)  {
    div.content {
        margin-left: calc(50vw - 150px);
    }
}

@media (min-width: 1100px)  {
    div.content {
        max-width: 800px;
        margin-left: calc(50vw - 400px);
    }
}
