body {
    margin: 0 !important;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}


div.content {
    padding-top: 100px;
    width: calc(100vw - 100px);
    /*min-width: 300px;*/
    margin: 0 0 0 50px;
    /*background-color: #f2fbc9;*/
}

@media (max-width: 600px) {
    div.content {
        margin: 0 0 0 10px;
        width: calc(100vw - 20px);
    }
}


@media (min-width: 900px) {
    div.content {
        width: calc(100vw - 460px);
        max-width: 800px;
        margin-left: 0;
        vertical-align: top;
        display: inline-block;
    }


    div.chapters {
        vertical-align: top;
        width: 400px;
        display: inline-block;
        margin-top: 100px;
    }
}

@media (min-width: 1260px) {
    div.content {
        margin-left: calc(50vw - 630px);
    }
}

div.search input {
    /*margin-top: 27px;*/
    width: 500px;
    display: block;
    text-indent: 45px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    right: 100px;
    position: absolute;
}

@media (max-width: 1000px) {
    div.search input {
        width: calc(100% - 500px);
    }
}

div.header div.title {
    position: fixed;
    line-height: 40px;
    font-size: 22px;
}

div.search img {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    opacity: 0.5;
    transition: 200ms;
    position: absolute;
    right: 565px;
    top: 13px;
}

@media (max-width: 1000px) {
    div.search img {
        left: 405px;
    }
}

div.search img:hover {
    opacity: 1;
}

div.header {
    padding: 5px 0 0;
    margin: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    background: white;
}

.shadow {
    -webkit-box-shadow:
            0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow:
            0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

div.chapters  div {
    margin: 0;
}

div.chapters {

    border-radius: 6px;
    border: 1px solid lightgray;
}

div.chapter {
    border-bottom: 1px solid lightgray;
}

div.chapter:last-child {
    border-bottom: 0;
}

div.chapter.active div.chapter-name {
    border-bottom: 1px solid lightgray;
    background-color: rgba(0,0,0,0.1);
}

div.chapter-name {
    padding-left: 35px;
    cursor: pointer;
    transition: 100ms;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

div.chapter-topic-node>div.sub-chapter-name:after,
div.chapter-name:after {
    content: '\25bc';
    float: right;
    margin-right: 20px;
    color: gray;
}

div.chapter-topic-node.active>div.sub-chapter-name:after,
div.chapter.active div.chapter-name:after {
    content: '\25b2';
}


div.chapter-name:hover {
    background-color: rgba(0,0,0,0.05);
}

div.sub-chapter-name {
    padding-left: 35px;
}

div.chapter-topic {
    transition: 100ms;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
}

div.chapter-topic.active{
    height: 100%;
}

div.sub-chapter-name {
    transition: 50ms;
    background-color: rgba(0,0,0,0.03);
}

div.sub-chapter-name:hover {
    background-color: rgba(0,0,0,0.07);
}

div.chapter-topic.invisible {
    height: 0;
}

.inline {
    vertical-align: middle;
    display: inline;
}